{% extends 'base.html' %} {% block title %}{{super()}} - Profiles Admin {%
endblock%} {% block content %}
<h1>All Profiles</h1>

{% if error %}
<p class="error">{{error}}</p>
{% endif %}

<a href="{{url_for('admin_profiles_appendComments')}}">Append to Comments</a>
<br />
<a href="{{url_for('admin_profiles_deleteFirst')}}">Delete first entry</a>
<br />
<a href="{{url_for('admin_profiles_deleteCoworker')}}"
  >Delete all coworker entries</a
>
<br />
<a href="{{url_for('admin_profiles_delete_audacious_guests')}}"
  >Delete all audacious entries</a
>
<br />
<div>
  <form method="POST" action="{{url_for('admin_profilesDeleteByQuantity')}}">
    <label for="quantity">Delete profiles with guests >= </label>
    <input type="number" id="quantity" name="quantity" min="1" required />
    <button type="submit">Delete</button>
  </form>
</div>

<table class="table table-striped" border="1">
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th>Quantity</th>
    <th>Relationship</th>
    <th>Accommodations</th>
    <th>Comments</th>
    <th>Created At</th>
    <th>Delete</th>
  </tr>
  {% for profile in profiles %}
  <tr>
    <td>{{ profile.id }}</td>
    <td>{{ profile.name }}</td>
    <td>{{ profile.email }}</td>
    <td>{{ profile.quan }}</td>
    <td>{{ profile.rel }}</td>
    <td>{{ profile.accommodations }}</td>
    <td>{{ profile.comments }}</td>
    <td>{{ profile.created_at }}</td>
    <td>
      <a href="{{url_for('admin_profiles_edit')}}?profileId={{profile.id}}"
        ><button>Edit</button></a
      >
    </td>
    <td>
      <div>
        <form method="POST" action="{{url_for('admin_profilesDeleteButton')}}">
          <input
            type="hidden"
            name="profileId"
            id="profileId"
            value="{{profile.id}}"
          />
          <button type="submit">Delete</button>
        </form>
      </div>
    </td>
    {% endfor %}
  </tr>
</table>

{% endblock %}
