<footer class="footer mt-auto py-3 bg-body-tertiary">
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item">
      <a href="{{url_for('profile')}}" class="nav-link px-2 text-body-secondary"
        >Profile Form</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{{url_for('feedback')}}"
        class="nav-link px-2 text-body-secondary"
        >Feedback Form</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{{url_for('admin_profiles')}}"
        class="nav-link px-2 text-body-secondary"
        >Admin - Profiles</a
      >
    </li>
    <li class="nav-item">
      <a
        href="{{url_for('admin_feedback')}}"
        class="nav-link px-2 text-body-secondary"
        >Admin - Feedback</a
      >
    </li>
  </ul>
  <p class="text-center text-body-secondary">© 2025 Joshua Luppes</p>
</footer>
