<div class="px-3 py-2 text-bg-dark border-bottom">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="{{url_for('profile')}}"
        class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
      >
        <img
          id="logo_svg"
          src="{{url_for('static', filename='frmstr_logo.svg')}}"
        />
      </a>
      <ul
        class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
      >
        <li>
          <a href="{{url_for('profile')}}" class="nav-link text-secondary">
            Profile Form
          </a>
        </li>
        <li>
          <a href="{{url_for('feedback')}}" class="nav-link text-white">
            Feedback Form
          </a>
        </li>
        <li>
          <a href="{{url_for('admin_profiles')}}" class="nav-link text-white">
            Admin - Profiles
          </a>
        </li>
        <li>
          <a href="{{url_for('admin_feedback')}}" class="nav-link text-white">
            Admin - Feedback
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
